    .MenuBar {
      display: flex;
      border-bottom: 1px solid black;
    }
  .LogoIcon {
      width: 100px;
    }
  .LogoIconDiv {
      width: 260px;
      margin-left: 0.5em;
    }
  .LeftMenu {
      display: flex;
      margin-top: 1em;
      margin-left: 1em;
    }
  .SendIcon {
      margin-top: 1em;
    }   

